*{
    margin: 0px;
    padding: 0px;
}
.container{
    background-image: url("rimg/r.jpg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
.header{
    width: 15%;
    padding: 78px 0px 46px;
    background-color: #000;
    display: inline-block;
}
.img{
    width: 150px; height: 150px;
     border-radius: 50%;border: 3px solid #83c; 
     display: block; margin: 0px auto 40px;
     
}
.three{
    display: block;
    width: 100%;
}
.three ul {
    display: block;
    margin: 30px 0px;
}
.three ul li{
    display: inline-block;
    padding: 10px;
    border-radius: 50%;
    margin: 0px 0px 0px 16px;
    background-color: #83c;
}
.fa{
    font-size: 18px;
    line-height: 28px;
}
h1{
    width: 84%;
    font-size: 46px;
    color: #fff;
    text-align: center;
    display: inline-flex;
    margin: 350px 0px 0px 160px;
    position: fixed;
}
.wrapper{
    width: 85%;
    display: inline;
}
.four li{
   color: #fff;
   margin: 25px 46px;
   list-style: none;
   font-size: 20px;
}
@media (min-width : 320px) and (max-width : 667px) {
    /* Styles */
        h1{
            position: none;
            display: none;
        }
    }